.wrapper{
  width: 60%;
}

.productView_container {
  display: flex;
  flex-direction: column;
  animation: fade-in 0.7s ease-in;
  max-width: 480px;
}

.products {
  display: flex;
  width: fit-content;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.productView_container h2 {
  font-weight: 300;
  font-size: 22px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 85%;
}

.product_info__title h2 {
  margin: 0 0 5px 0;
}

.product_info__detail {
  display: flex;
  justify-content: space-between;
}

.product_info_detail__price,
.product_info_detail__stock,
.product_info_detail__user {
  display: flex;
}

.product_info_detail__price,
.product_info_detail__stock {
  width: 37%;
  display: flex;
  align-items: center;
}

.product_info_detail__price p,
.product_info_detail__stock p {
  width: 50%;
  font-size: 8px;
  text-transform: uppercase;
}

.product_info_detail__price h1,
.product_info_detail__stock h1 {
  margin: 0 10px 0 0;
}

.product_info_detail__user {
  background-color: rgb(75, 79, 81);
  border-radius: 100px;
  color: var(--blanco);
  width: 115px;
}

.product_info_detail__user_name {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.products_img img{
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 10px;
}

.headings {
  margin: 20px 0px;
}

.productForm__input_name,
.productForm__input_value,
.productForm__input_stock,
.productForm textarea,
.productForm__input_store,
.productForm__input_img {
  width: 300px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 7px;
  padding-left: 20px;
}

.productForm input,
.productForm__input_stock,
.productForm textarea,
.productForm__input_store,
.productForm__input_img {
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
  border: 1px solid gray;
  color: gray;
}

.productForm__input_stock {
  width: 120px;
  padding-left: 0;
  display: flex;
}

.productForm__input_stock button {
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 30%;
}

.productForm__input_stock input {
  border: none;
  width: 40%;
  text-align: center;
  color: white;
}

.productForm textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
}

.productForm__input_store {
  appearance: inherit;
  background-image: url("../../../assets/down-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 12px auto, 100%;
}

.productForm label p {
  font-size: 14px;
}

.productForm .productForm__add_image_button {
  background: transparent;
  border-radius: 100px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.productForm .productForm__add_image_button img {
  width: 15px;
  filter: invert(0);
}
.productForm .productForm__add_image_button img.dark {
  width: 15px;
  filter: invert(1);
}

.productForm .productForm__add_image_button img:hover {
  width: 17px;
  transition: 0.3s;
}

.productForm__images_list .productForm__images_list__image_card {
  background-color: rgb(51, 51, 51);
  display: flex;
  padding: 10px;
  margin: 5px 0 9px 0;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0px 4px 0px 0px rgba(0 0 0 / 20%);
}

.productForm__images_list .productForm__images_list__image_card p{
  font-size: 11px;
  width: 75%;
  margin-left: 10px;
  color: var(--blanco);
}

.productForm__images_list .productForm__images_list__image_card img {
  height: 44px;
  width: 44px;
  object-fit: cover;
  border-radius: 10px;
}

.productForm__images_list .productForm__images_list__image_card button, .productForm .productForm_cancel_button, .productForm .productForm_save_button {
  padding: 10px 5px;
  border: none;
  border-radius: 100px;
  width: 90px;
  font-size: 13px;
  background-color: rgb(74,78,80);
  color: white;
  cursor: pointer;
}

::placeholder {
  color: lightgray;
}

.productForm_buttons_container{
  width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
