.productView_container {
  display: flex;
  flex-direction: column;
  animation: fade-in 0.7s ease-in;
}

.products {
  display: flex;
  width: fit-content;
  gap: 10px;
  align-items: center;
}

.productView_container h2 {
  font-weight: 300;
  font-size: 22px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 85%;
}

.product_info__title h2 {
  margin: 0 0 5px 0;
}

.product_info__detail {
  display: flex;
  justify-content: space-between;
}

.product_info_detail__price,
.product_info_detail__stock,
.product_info_detail__user {
  display: flex;
}

.product_info_detail__price,
.product_info_detail__stock {
  width: 37%;
  display: flex;
  align-items: center;
}

.product_info_detail__price p,
.product_info_detail__stock p {
  width: 50%;
  font-size: 8px;
  text-transform: uppercase;
}

.product_info_detail__price h1,
.product_info_detail__stock h1 {
  margin: 0 10px 0 0;
}

.product_info_detail__user {
  background-color: rgb(75, 79, 81);
  border-radius: 100px;
  color: var(--blanco);
  width: 115px;
}

.product_info_detail__user_name {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.products_img img {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 10px;
}

.headings {
  margin: 20px 0px;
}

.productForm__input_name,  .productForm__input_value, .productForm__input_stock{
  width: 300px;
  height: 35px;
  margin-bottom: 18px;
  margin-top: 7px;
  padding-left: 20px;
}

.productForm input, .productForm__input_stock{
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
  border: 1px solid gray;
  color: gray;
}

.productForm__input_stock{
  width: 120px;
  padding-left: 0;
  display: flex;
}

.productForm__input_stock button{
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 30%;
}

.productForm__input_stock input{
  border: none;
  width: 40%;
  text-align: center;
  color: white;
}

.description {
  width: 50%;
  height: 135px;
  border-radius: 25px;
  background-color: gray;
  padding-left: 15px;
  padding-bottom: 90px;
  margin-top: 7px;
  border: 0.5px solid white;
  color: white;
}

.imageBanner {
  display: flex;
  flex-direction: column;
  background: grey;
  border-radius: 25px;
  width: 50%;
}

.imageBanner img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

::placeholder {
  color: lightgray;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
