.header{
    height: 72px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    transition: background-color 0.4s;
    padding: 0 1rem;
}
.navbar{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar > div:first-child{
    display: flex;
    align-items: center;
}
.search_box_and_add{
    display: flex;
    width: 90%;
}
.navbar_menu_button{
    background-color: transparent;
    border:none;
    color: var(--blanco);
    display: flex;
    width: 46px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.navbar_menu_button_dark{
    background-color: transparent;
    border:none;
    color: var(--blanco);
    display: flex;
    width: 46px;
    height: 36px;
    align-items: center;
    justify-content: center;

}
.navbar_menu_button img{
    width: 29px;
    filter: invert(0);
}
.navbar_menu_button_dark img{
    width: 29px;
    filter: invert(1);
}
.navbar_menu_button img{
    width: 29px;
    filter: invert(0);
}

.navbar_right_button{
    background-color: var(--gris);
    border-radius: 16px;
    height: 34px;
    padding: 0 16px;
    border: none;
    color: var(--blanco);
}
@media (min-width:468px) {
    .search_box_and_add{
        width: 70%;
        justify-content: space-between;
    }
}
@media (min-width: 1024px){
    .navbar_menu_button{
        display: none;
    }
    .navbar_menu_button_dark{
        display: none;
    }
}