.header{
    height: 72px;
    width: 100%;
}

.navbar{
    color: rgb(232, 223, 223);
    background-color: var(--rojo);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar_search_box{
    width: 100%;
}

.search_box_and_add{
    display: flex;

}


@media (min-width:468px) {
    .search_box_and_add{
        width: 60%;
        justify-content: space-between;
    }
}

