.search_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.search_input {
  width: 100%;
  display: none;
  margin-left: 8px;
  background-color: var(--negro-claro);
  border: 2px solid var(--btn-oscuro);
  border-radius: 16px;
  height: 34px;
  color: var(--blanco);
  padding-left: 15px;
}

.search_form_div {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.search_form_exit {
  margin-right: 8px;
}

.search_form_exit i {
  font-size: 25px;
}

.search_icon {
  background-color: var(--negro-claro);
  border: 1px solid var(--btn-oscuro);
  display: flex;
  border-radius: 20px;
  width: 46px;
  height: 36px;
  align-items: center;
  justify-content: center;
}
.search_icon img {
  width: 25px;
}

.search_input_mobile {
  display: initial;
}
.search_form_mobile_icon {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15%;
  top: 0;
}
/* .search_form_search_icon{
    position: absolute;
    right: 20%;
    top: 2px;
    cursor: pointer;
    height: 32px;
    width: auto;
    background-color: transparent;
    border: none;
} */

.add_icon {
  background-color: var(--btn-oscuro);
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 36px;
  height: 36px;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}
.add_icon span {
  color: var(--blanco);
  font-weight: bold;
}

.add_span {
  display: none;
  text-transform: capitalize;
}
@media (min-width: 468px) {
  .add_icon {
    display: none;
  }
  .add_span {
    border: none;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-oscuro);
    height: 34px;
    font-size: 12px;
    min-width: 120px;
    cursor: pointer;
    flex-wrap: nowrap;
    max-width: 130px;
    border-radius: 16px;
  }
  .search_form {
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }

  .search_form_search_icon {
    right: 5%;
  }
  .search_form_div {
    position: relative;
    width: 60%;
  }
  .search_input {
    width: 95%;
    display: initial;
    margin-left: 8px;
    background-color: var(--negro-claro);
    border: 2px solid var(--btn-oscuro);
    border-radius: 16px;
    height: 34px;
    color: var(--blanco);
    padding-left: 15px;
  }
  .search_input:focus {
    outline: 1px solid var(--blanco);
  }
  .search_input:focus::placeholder {
    color: var(--blanco);
  }
  .search_form_search_icon {
    position: absolute;
    right: 2%;
    top: 1px;
    cursor: pointer;
    height: 32px;
    width: auto;
    background-color: transparent;
    border: none;
  }
  .search_form_exit {
    display: none;
  }
  .search_form_exitclosed {
    display: none;
  }
}
