.sidebar{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar_top__logo, .sidebar_top__links{
    width: 100%;
    padding: 0.5rem;
}
.sidebar_logo{
    width: 180px;
}

.sidebar_top__links li{
    list-style: none;
    font-size: 0.7rem;
    padding: 0.5rem 0;
    display: flex;
    border-radius: 10px;
    height: 1.5rem;
    align-items: center;
}

.sidebar_top__link_logo{
    width: 10%;
    padding: 0 1rem;
}

.sidebar_top__links li img{
    filter: invert(1);
    width: 0.8rem;
}

.sidebar_top__link_title{
    width: 90%;
    padding: 0 1rem;
}

.sidebar_top__link_selected{
    background-color: var(--gris);
}

.sidebar_footer{
    padding: 0.5rem;
}

.sidebar_footer_user_card{
    display: flex;
    background-color: var(--btn-oscuro);
    border-radius: 100px;
}

.sidebar_footer_user_card_img{
    display: flex;
}

.sidebar_footer__link_title{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}