:root {
  --negro: rgb(34, 34, 34);
  --negro-claro: rgb(51, 51, 51);
  --blanco: rgb(242, 241, 241);
  --btn-oscuro: rgb(75, 89, 91);
  --btn-claro: rgb(89, 120, 125);
  --gris: rgb(89, 89, 89);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

.main {
  width: 100%;
  display: flex;
  background-color: var(--negro);
  color: var(--blanco);
}

.product-list-container,
.home-container {
  animation: fade-in 0.7s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-area > section {
  padding: 0 1rem;
  margin-top: 10px;
}

aside {
  width: 296px;
  position: fixed;
  left: -296px;
  height: 100vh;
  z-index: 200;
}

.sidebar_active {
  left: 0;
  transition: 0.5s;
}

@media (min-width: 1024px) {
  .main-area {
    width: 100%;
    margin-left: 296px;
  }

  aside {
    left: 0;
  }
}
